*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Page container */  
.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 28px;
  padding-left: 28px;
  background-color: transparent;
}

.content-container {
  padding-right: 24px;
}

body, 
html {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

code {
  display: block;
  min-width: 100px;
  max-width: 100%;
  padding: 0;
  overflow-x: scroll;
  background: none;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
}

.leeevz {
  //background-color: #e5e5e5;
  background-color: var(--color-neutral-100);
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

ul {
  list-style: none;
}

main {
  position: relative;
}

a {
  text-decoration: none;
}

.hide {
  display: none;
}

.link {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-primary-700);
  text-decoration: none;
  cursor: pointer;
}

input, textarea, select {
  padding: 10px 14px;
  width: 100%;
  height: 44px;
  background-color: var(--color-neutral-25);
  color: var(--color-neutral-500);
  font-size: 16px;
  line-height: 24px;
  border: 1px solid var(--color-neutral-300);
  box-shadow: 0px 1px 2px rgb(16 24 40 / 5%);
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  -webkit-appearance: none;
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  background-color: var(--color-base);
  background-image: none;
  border: 1px solid var(--color-neutral-300);
  border-radius: 6px;
}

input[type="checkbox"]:checked {
  position: relative; 
  background-color: var(--color-primary-50);
  background-image: url('../images/icons/checked.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 9px 6px;
  border: 1px solid var(--color-primary-600);
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    -webkit-appearance: none;
    z-index: 999;
}

textarea {
  min-height: 128px;
  max-height: 128px;
  resize: none;
}

::-webkit-scrollbar {
  width: 8px;
  visibility: hidden;
}

// Scrollbar
.scrollbar {
  overflow-y: scroll;
  overflow-x: hidden;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
  //background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px var(--color-neutral-200);
  background-color: var(--color-neutral-200);
}