.myleavesummaryview {
  position: relative;
  padding-top: 4px;
  background-color: var(--color-neutral-100);

  &__wrap {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    &--noitem {
      height: auto;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 24px;
    right: 24px;
  }

  &__request {

    .btn {

      .App-icon {
        transition: 0.5s;
      }

      &--clicked {

        .App-icon {
          top: 50%;
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
  }
}