.myleaves {
  position: relative;

  &__balance-header {
    padding-top: 34px;
  }

  &__balance-icon {
    display: flex;
    margin: 24px auto 0;
    height: 56px;
    width: 56px;
    justify-content: center;
    align-items: center;
    border-radius: 56px;

    .App-icon {
      height: 28px;
      width: 28px;
    }

    &--annual {
      background-color: #F4EBFF;
      color: #9747FF;
    }

    &--casual {
      background-color: #FFECD4;
      color: #DC6803;
    }

    &--medical {
      background-color: #D7F5E3;
      color: #279F6D;
    }

    &--list {
      margin-top: 0;
      height: 24px;
      width: 24px;

      .App-icon {
        height: 12px;
        width: 12px;
      }
    }
  }

  &__balance-grid {
    padding-top: 24px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    column-gap: 28px;
    align-items: center;
    justify-content: center;
    
  }

  &__balance-col {
    padding: 16px;
    background-color: var(--color-base);
    text-align: center;
    border-radius: 8px;
  }

  &__balance-availability {
    padding-top: 24px;
  }

  &__balance-taken {
    padding-top: 4px;
  }

  &__upcoming {
    padding-top: 24px;
  }

  &__frame {
    position: relative;
    display: block;
    margin-top: 24px;
    height: calc(36.3vh);
    margin-bottom: 24px;
    background-color: var(--color-base);
    border: 1px solid var(--color-neutral-200);
    border-radius: 8px;
    overflow: hidden;
    
    &__tflex {
      display: grid;
      grid-template-columns: 1fr 5fr;
      grid-gap: 12px;
      align-items: center;

      &--timage {
        height: 40px;
        width: 40px;
        background-color: #ccc;
        border-radius: 40px;
      }

      &--timg {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 40px;
      }

      &--tname {

        .typo {
          display: inline-block;
        }
      }

      &--tdesc {

        .typo {
          text-transform: capitalize;
        }
      }
    }
  }

  &__frame-list {
    position: absolute;
    height: 80.5%;
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 50px;
  }

  &__frame-headers {
    display: grid;
    //grid-template-columns: 27.36% 27.36% 7.11% 27.36% 10.8%;
    grid-template-columns: 22.36% 27.36% 7.11% 27.36% 15.8%;
    align-items: center;
    width: 100%;
    background-color: var(--color-neutral-50);
    border-top: none;
    border-bottom: 1px solid var(--color-neutral-200);
    border-radius: 8px 0 0 0;
    box-sizing: border-box;
  }

  &__frame__col {
    position: relative;
    display: inline-block;
    padding: 14px 4px 14px 24px;
    box-sizing: border-box;
    overflow: hidden;
    word-break: break-all;
  }

  &__frame__goto {
    display: inline-block;
    height: 14px;
    width: 6px;
    position: absolute;
    top: 13px;
    right: 28px;

    .App-icon {
      display: block;
      height: 14px;
      width: auto;
      color: var(--color-neutral-800);
    }
  }

  &__item {
    padding: 10px 0;
    background-color: var(--color-base);
  }

  .status {
    &--approved {
      padding: 2px 8px;
      border-radius: 16px;
      background-color: var(--color-semintic-g4-50);
      color: var(--color-semintic-g4-700) !important;
      text-transform: uppercase;
    }

    &--pending {
      padding: 2px 8px;
      border-radius: 16px;
      background-color: var(--color-semintic-g3-50);
      color: var(--color-semintic-g3-700) !important;
      text-transform: uppercase;
    }

    &--rejected {
      padding: 2px 8px;
      border-radius: 16px;
      background-color: var(--color-semintic-g2-25);
      color: var(--color-semintic-g2-600) !important;
      text-transform: uppercase;
    }
  }

  .employlist--myleave {

    .employlist__noitem {
      margin-top: 6%;
    }
  }
  
}