.nav {
  position: relative;
  margin: 24px 0 0 304px;
  transition: 0.5s;

  + .content-container {
    padding-left: 304px;
    transition: 0.5s;
  }

  &__btn { 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: -15px;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background-color: var(--color-neutral-900);
    transition: 0.5s;
    cursor: pointer;
    z-index: -1;

    .App-icon {
      height: 13px;
      width: auto;
      filter: invert(1);
    }
  }

  &__sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 280px;
    height: 100vh;
    background-color: var(--color-neutral-900);
    transition: 0.5s;
    z-index: 99;
  }

  &__header-toggle {
    cursor: pointer;
  }

  &__icon {
    height: 42px;
    width: 42px;
    display: block;
  }

  &__logo-expanded {
    padding: 28px 4px 20px 28px;
    width: 170px;
    height: auto;
    transition: 0.5s;
  }

  &__logo-expanded-img {
    width: auto;
    height: 100%;
    object-fit: cover;
  }

  &__logo-collapse {
    display: none;
    transition: 0.5s;
  }

  &__bottom-bar {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    left: 0;
    height: auto;
  }

  /* Collapsed menu */ 
  &.show {
    padding-left: 84px;
    margin: 40px 0 0 0;

    aside {
      width: 64px;
    }

    + .content-container {
      padding-left: 84px;
    }

    .nav {
      
      &__btn {

        svg {
          transform: rotate(180deg);
        }
      }
    }

    .navigation {

      &__item {

        &__sub {
          display: none;
        }

        &--user {

          .navigation {

            &__item {

              &__sub {
                display: block;
              }
            }

            &__nav-link {
              padding-left: 0 !important;
            }
          }
        }
      }
      
      &__nav-link {
        display: grid;
        grid-template-columns: max-content;
        justify-content: center;
        padding: 8px 0;
        margin: 0 auto;
        width: 48px;
        height: 48px;
        box-sizing: border-box;
        overflow: hidden;

        &:hover {

          + .navigation {
            
            &__nav-link-ttip {
              display: block;
              width: max-content;
            }
          }
        }

        .App-icon {
          height: 20px;
          width: auto;
        }

        &--profile {
          margin: 16px auto 0 !important;
          padding: 0 !important;

          .navigation {
            
            &__nav-link-ttip {
              
              &--inverse {
                top: 50%;
                left: 78px;
                background-color: var(--color-neutral-900);
                transform: translateY(-50%);

                &::before {
                  position: absolute;
                  display: block;
                  content: "";
                  top: 50%;
                  left: -4px;
                  right: auto;
                  height: 12px;
                  width: 6px;
                  transform: translateY(-50%);
                  background-image: url('../../images/icons/bottom-left-center.svg');
                  background-size: contain;
                  background-position: center center;
                  background-repeat: no-repeat;
                }

                .typo {
                  color: var(--color-base) !important;
                }
              }
            }
          }
        }
      }

      &__nav-link-name {
        display: none;
      }

      &__item {
        padding: 8px;
        margin-bottom: 0px;
      }

      &__nav-link-arrow {
        display: none;
      }
    }

    .nav {
      
      &__logo-expanded {
        display: none;
      }

      &__bottom-bar {
        bottom: 64px;
      }

      &__logo-collapse {
        display: block;
        padding: 24px 0 20px;
        width: 40px;
        height: auto;
        margin: 0 auto;
      }

      &__logo-collapse-img {
        height: 100%;
        width: auto;
        object-fit: cover;
        margin: 0 auto;
      }
    }

    .activeuser {

      &__prof {
        display: none;
      }

      &__image-wrapper {
        height: 40px;
        width: 40px;
        margin: 0;
      }
      
      &__wrapper {
        padding: 0 8px 16px;
        column-gap: 0;
        margin-bottom: 0;
        justify-content: center;

        &:before {
          width: 48px;
        }
      }

      &__more-btn {
        position: fixed;
        bottom: 24px;
        left: 12px;
        top: auto;
        transform: translate(0);
      }
    }
  }

  #space-toggle {

    &:before {
      position: absolute;
      display: block;
      content: "";
      height: 13px;
      top: 9px;
      left: 9px;
      width: 13px;
      background-image: url('../../images/icons/arrow-left.svg');
      z-index: 1;
      background-position: center center;
      background-size: cover;
      transition: 0.5s;
    }
  }

  #activeuser__more-btn {

    &:before {
      position: absolute;
      display: block;
      content: "";
      height: 20px;
      top: 10px;
      left: 10px;
      width: 20px;
      background-image: url('../../images/icons/logout.svg');
      z-index: 1;
      background-position: center center;
      background-size: cover;
    }
  }

  #nav-leaves {

    &:before {
      position: absolute;
      display: block;
      content: "";
      height: 20px;
      top: 10px;
      right: 15px;
      width: 20px;
      background-image: url('../../images/icons/arrow-left.svg');
      z-index: 1;
      background-position: center center;
      background-size: cover;
      transform: rotate(90deg);
      transition: 0.5s;
    }
  }

  .nav-hide {

    #nav-leaves {

      &:before {
        transform: rotate(270deg);
      }
    }
  }

  &.show {

    #space-toggle {

      &:before {
        transform: rotate(180deg);
      }
    }

    #nav-leaves {

      &:before {
        display: none;
      }
    }

    #n-leaves {

      &:before {
        height: 20px;
        width: 20px;
        top: 22px;
        left: 22px;
        background-size: cover;
        background-position: center center;
      }
    }

    #n-employees {

      &:before {
        height: 20px;
        width: 20px;
        top: 22px;
        left: 22px;
        background-size: cover;
        background-position: center center;
      }
    }
  }
}